<!-- <h1  [ngClass]="isGreen? 'title-green':'title-red'" >{{title}} </h1> -->



<div style="text-align: center;">
    <h1 [ngClass]="isGreen? 'title-blue':'title-sky'">{{title}}</h1>
  </div>
  
<h2 *ngIf="books.length<1">No Data</h2>
<div style= "margin: 20px; float:right">
  <button class="button" (click)="addBooks()"> Add Book</button>
</div>
<table >
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Publication Date</th>
        <th>Publisher</th>
        <th>Copies</th>
        <th>Category</th>
        <th>Genre</th>
        <th>Subgenre</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td class="bold">{{book.name}}</td>
<td class="bold">{{book.author}}</td>
<td class="bold">{{book.isbn}}</td>
<td class="bold">{{book.publicationDate }}</td>
<td class="bold">{{book.publisher}}</td>
<td class="bold">{{book.copies}}</td>
<td class="bold">{{book.category }}</td>
<td class="bold">{{ book.genre }}</td>
<td class="bold">{{ book.subgenre }}</td>

        <td>
          <!-- <button (click)="deleteBook(book.id)">Delete</button> -->
          <button class="DeleteButton" (click)="deleteBook(book.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
