
<div style="text-align: center;">
    <h1 [ngClass]="isGreen? 'title-blue':'title-sky'">{{title}}</h1>
  </div>
  
<h2 *ngIf="publishers.length<1">No Data</h2>
<div style= "margin: 10px; float:right">
  <button class="button" (click)="addPublishers()"> Add Publishers</button>
</div>
<table >
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>E-mail</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="publishers.length > 0">
      <tr *ngFor="let publisher of publishers">
        <td class="bold">{{publisher.id}}</td>
        <td class="bold">{{publisher.name}}</td>
        <td class="bold">{{publisher.address}}</td>
        <td class="bold">{{publisher.phone}}</td>
        <td class="bold">{{publisher.email}}</td>
        <td>
          <button (click)="deletePublisher(publisher.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
