table {
    overflow: auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #8ee579}
  
  th {
    background-color: #7ce397;
    color: rgb(132, 22, 22);
  }


  .button {
    background-color: #9be98c; /* Green */
    border: none;
    color: rgb(5, 4, 4);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
  }

.title-blue{
color: rgb(136, 218, 124);
}

.title-sky{
color: rgb(0, 255, 247);
}