table {
    overflow: auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #9ae5f8}
  tr:nth-child(odd){background-color: #9ae5f8}
  
  th {
    background-color: #45cff2;
    color: rgb(6, 6, 6);
  }


  .button {
    background-color: #07c7f7; 
    border: none;
    color: rgb(12, 11, 11);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold;
  }

.title-blue{
  border: 1px solid #070000; 
  padding: 10px; 
  background-color: #65d7f3;
  margin-right: 400px;
  margin-left: 400px;
  border-radius: 15px;
  font-weight: bold;
}
