.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4f4d4d;
    overflow-x: hidden;
    padding-top: 20px;
  }


  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0a0a0a;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f50707;
  }
  