.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4f4d4d;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .boxbooks {
    border: 1px solid #070000; 
    padding: 10px; 
    background-color: #566aee;
    margin: 10px;
    border-radius: 20px;
  }
  .boxadmin {
    border: 1px solid #070000; 
    padding: 10px; 
    background-color: #e737e7;
    margin: 10px;
    border-radius: 20px;
  }
  .boxpublisher {
    border: 1px solid #070000; 
    padding: 10px; 
    background-color: #64eb78;
    margin: 10px;
    border-radius: 20px;
  }
  .boxauthor {
    border: 1px solid #070000; 
    padding: 10px; 
    background-color: #65d7f3;
    margin: 10px;
    border-radius: 20px;
  }
  .boxstudent {
    border: 1px solid #070000; 
    padding: 10px; 
    background-color: #ee5686;
    margin: 10px;
    border-radius: 20px;
  }
  a {
    font-weight: bold;
    position: relative;
  }
  
  
  


  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0a0a0a;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f50707;
  }
  