
<div style="text-align: center;">
    <h1 [ngClass]="isGreen? 'title-blue':'title-sky'">{{title}}</h1>
  </div>
  
<h2 *ngIf="students.length<1">No Data</h2>
<div style= "margin: 10px; float:right">
  <button class="button" (click)="addStudents()"> Add students</button>
</div>
<table >
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Dept</th>
        <th>Roll</th>
        <th>BirthDate</th>
        <th>Mobile</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="students.length > 0">
      <tr *ngFor="let student of students">
        <td class="bold">{{student.id}}</td>
        <td class="bold">{{student.name}}</td>
        <td class="bold">{{student.dept}}</td>
        <td class="bold">{{student.roll}}</td>
        <td class="bold">{{student.dob}}</td>
        <td class="bold">{{student.mobile}}</td>
        <td>
          <button (click)="deleteStudent(student.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

